.bars {
  margin-left: 10px;
  float: right;
  max-width: 30px;
  max-height: 30px;
}

.input-text {
  height: 100px;
  padding: 10px;
  box-shadow: 5px 5px #394356;
  background-color: #ffffff;
  border-radius: 6px;
}

.navbar {
  background-color: #52d6cb;
  color: #ffffff;
  font-family: segoe ui;
  padding-left: 50px;
  padding: 1px 0px;
}
.icon {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.note-input-top {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.note-input-bot {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

footer {
  height: 40px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  font-size: 14px;
}

.btn {
  border: none;
  background-color: #00295e;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  box-shadow: 2px 2px 0px #ffffff;
  margin-bottom: 10px;
}
.btns {
  display: flex;
  flex-direction: row;
}

.container {
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
}
